@import './variables.module.scss';

.container {
  max-width: 70ch;
  margin-bottom: 3em;
  margin-top: 3em;
}

.title {
  font-size: 4em;
  font-weight: 900;
  display: inline;
}

.color {
  color: $yellow-600;
  font-style: italic;
}

.emphasis {
  composes: title;
  color: $yellow-600;
}


.content {
  color: rgb(209, 210, 213);
}