@import "./variables.module";

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: $gray-400;
}

.title {
  color:rgb(242, 242, 242);
  font-weight: 300;
}

.search {
  height: 2em;
  max-width: 25ch;
  align-self: center;
  border-radius: 2% / 15%;
  background-color: $gray-300;
  border-style: none;
  color: $gray-200;
  font-size: 1em;
}

.right {
  width: 68px;
}

.img {
  display: block;
  transform: translateY(-15px);
}

.searchBtn {
  height: min-content;
  padding-inline: 1em;
  padding-block: .50em;
  border-style:none;
  margin-block: 0;
}