@import "./variables.module";

.genPackBtn {
  background-color: $yellow;
  position: sticky;
  top: 20px;
  font-size: 1.5em;
  border-style: none;
  border-radius: 2% / 15%;
  padding-inline: 1em;
  z-index: 1;
  margin-bottom: 1em;
}

.goToTop {
  background-color: rgb(0, 255, 115);
  position: fixed;
  right: 50%;
  bottom: 10px;
}

.error {
  color: $error-color;
  margin-block: 10px;
  width: 25ch;
  padding: .25em;
}

.inputSection {
  display: grid;
  grid-template-rows: 2fr;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}

.header {
  margin-block: 1em;
  display: grid;
  grid-template-columns: minmax(160px, auto) minmax(40ch, 66ch);
  column-gap: 1em;
  justify-content: start;
}

@media (width < 700px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

.summary {
  font-size: 1.25em;
}

.details {
  color: $gray-200;
}