@import "./variables.module";

.genPackBtn {
  background-color: aqua;
  display: block;
  font-size: 1.5em;
}

.goToTop {
  background-color: rgb(0, 255, 115);
  position: fixed;
  right: 50%;
  bottom: 10px;
}

.error {
  border-width: 1px;
  border-style: solid;
  border-color: $error-color;
  color: $error-color;
  margin-block: 10px;
  width: 25ch;
  padding: .25em;
  justify-content: center;
  display: flex;
}