@import './variables.module.scss';

.img {
  max-inline-size: 100%;
  block-size: auto;
  display:block;
  background-color: rgb(251, 251, 251);
  border-radius: 5%;
  padding: 0.5em;
}

.cardContainer {
  background-color: rgb(61, 63, 70);
  background-color: $gray-400;
  border-radius: 5%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.name {
  margin-bottom: 0;
}