@use "sass:color";

$error-color: #ff6262;

$gray-100: #dddddd;
$gray-200: #757575;
$gray-300: #2b2e33;
$gray-400: #1a1b1e;
$gray-500: #131516;

$yellow: #fac32b;
$yellow-base: #fac32b;
$yellow-100: color.scale($yellow-base, $lightness: 40%);
$yellow-200: color.scale($yellow-base, $lightness: 30%);
$yellow-300: color.scale($yellow-base, $lightness: 20%);
$yellow-400: color.scale($yellow-base, $lightness: 10%);
$yellow-500: color.scale($yellow-base, $lightness: 0%);
$yellow-600: color.scale($yellow-base, $lightness: -10%);
$yellow-700: color.scale($yellow-base, $lightness: -20%);
$yellow-800: color.scale($yellow-base, $lightness: -30%);
$yellow-900: color.scale($yellow-base, $lightness: -40%);

$blue: rgb(0, 69, 207);